<!DOCTYPE html>
<html>
	<head>
		<title>myMovies Xpress! - Cart</title>
		<link rel="stylesheet" type="text/css" href="../css/mySite.css">
		<script src="./script.js"></script>
	</head>
	<body>
		<h3>Welcome, <?= $_SESSION["displayName"] ?> (<a href="javascript: confirmLogout()">logout</a>)</h3>
		<h1>myMovies Xpress!</h1>
<!-- DO NOT REMOVE OR MODIFY THE CODE OR PLACE YOUR CODE ABOVE THIS LINE -->
		<?=displayCart()?>
		<?php $cartLength=count($movies)?>
		<p>There are <?=$cartLength?> movie(s) in your cart. </p>
		
		<table>
			<tr>
				<th>Poster</th>
				<th>Title(Year)</th>
				<th>More Info</th>
				<th>Remove Movie</th>
			</tr>
			<?php
				$i=0;
				while($i < $cartLength){
					$curMovieID = $movies[$i];
					$movieData = getMovieData($curMovieID); //possible error check for bad ID which shouldnt happen but as of now havent approached it
					echo "<tr>";
					
					//poster
					if($movieData['Poster'] != NULL && $movieData['Poster'] != "N/A"){
						echo "<td style='text-align:center'> <img src='" .$movieData['Poster']. "' alter='poster' height='100'></td>";
					}else{
						echo "<td style='text-align:center'>(No poster given)</td>";
					}
					
					//Titke(Year)
					echo "<td style='text-align:center'><a href='https://www.imdb.com/title/" .$movieData['IMDB_ID']. "/' target='_blank'>" .$movieData['Title']. " (" .$movieData['Year']. ")</a></td>"; 
					
					//More Info
					echo "<td style='text-align:center'><a href='javascript:void(0);' onclick='displayMovieInformation(".$movieData['ID'].");'>View More Info</a></td>";
					
					//Remove Movie
					echo "<td style='text-align:center'><a href=\"javascript: confirmRemove('".$movieData['Title']."', '".$movieData['ID']."')\">X</a></td>";
					
					$i++;
					echo "</tr>";
					
				}
			
			
			?>
		</table>
		
		<!-- Add Movie Button -->
		<input type="button" value="Add Movie" onclick="window.location.href='./search.php'" />
		
		<!-- Checkout Button -->
		<input type="button" value="Checkout" onclick="javascript: confirmCheckout()" />
		
		

<!-- DO NOT REMOVE OR MODIFY THE CODE OR PLACE YOUR CODE BELOW THIS LINE -->
		<!-- This code is used by the movieInfo.php file provided by the professor -->
		<div id='modalWindow' class='modal'>
			<div id='modalWindowContent' class='modal-content'>
			</div>
		</div>
	</body>
</html>